<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Show Page for <%=author.name%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/authors">Author Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Author Attributes:</h2>
        <ul>
          <li>Name: <%=author.name%></li>
        </ul>
      </section>
      <section>
          <h2>Articles Written By This Author:</h2>
          <ul>
              <% for(let i = 0; i < user.users.length; i++){ %>
                  <li><a href="/users/<%=user.users[i]._id%>"><%=user.portfolios[i].title%></a></li>
              <% } %>
          </ul>
      </section>
      <section>
        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
          <button type='submit'>Delete </button>
        </form>
      </section>
      <section>
        <a href="/users/<%=user._id%>/edit">Edit</a>
      </section>
    </main>
  </body>
</html>
